<button mat-icon-button aria-label="close icon" mat-dialog-close>

<table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">kullanıcı Adı </th>
                    <th scope="col">şifre</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.username}}</td> <!-- Angular Tanım yaparken Camel casing kabul etmiyor.-->
                    <td>{{user.password}}</td>
                    
                  </tr>
                  
                </tbody>
              </table>