<p>delete-user works!</p>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            
            <th scope="col">ID</th>
            <th scope="col">kullanıcı Adı </th>
            <th scope="col">şifre</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">

            <!-- <input type="checkbox" [value]="user.id" (change)="onChecked(user,$event)" name="checkbox" id="checkbox" -->
              <!-- type="checkbox" class="form-check-input"> -->
            <th scope="row">{{user.id}}</th>
            <td>{{user.username}}</td> <!-- Angular Tanım yaparken Camel casing kabul etmiyor.-->
            <td>{{user.password}}</td>
            <td><button class="btn btn-danger " (click)="deleteUser(user)">Sil</button></td>
            <td><button class="btn btn-primary" (click)="openDialog(user)">Güncelle</button></td>
            

          </tr>
        </tbody>
        <td><button class="btn btn-primary" (click)="refresh()"> yenile</button></td>
      </table>
      

    </div>

  </div>
</div>

